<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-11" style='background-color:transparent'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
						<div ng-hide='categoryId == -1'>Edit Category</div>
						<div ng-hide='categoryId != -1'>New Category</div> 
						<button class='btn btn-default pull-right' ui-sref="categories">Back</button>
					</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                        <form class="form" name="form" ng-submit="saveCategory(form)" novalidate>
                            <div class="form-group">
                                <label for='name'>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="category.name" required>
                            </div>
                            <div class="form-group">
                                <label for="parentCategory">Parent Category</label>
                                <select class="form-control" name="parentCategory" id="parentCategory" ng-model="category.parent">
                                    <option value=''>None</option>
                                    <option ng-repeat="option in categories" value="{{option._id}}">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for='active'>Active</label>
                                <input type="checkbox" name="active" id='active' class="form-control" ng-model="category.active" required>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-default" ngf-select="upload($file)">Upload on file select</div>
                                <!--<div class="btn btn-default" ngf-select="uploadFiles($files)" multiple="multiple">Upload on files select</div>-->
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                                Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'" ngf-size="{width: 20, height: 20, quality: 0.9}">
                                <!--<input type="file" nv-file-select uploader="uploader" />
								<br/>
								<ul>
									<li ng-repeat="item in uploader.queue">
										Name: <span ng-bind="item.file.name"></span>
										<br/>
										<button ng-click="uploader.uploadAll()">upload</button>
									</li>
								</ul>-->
                                <!--<label for='catImage'>Category Image</label>
  									<input id='catImage' name='catImage' type="file" nv-file-select="" uploader="uploader" />-->
                                <!--<input type="password" name="password" class="form-control" ng-model="vm.newcategory.password" required>-->

                            </div>
                            <div class="form-group has-error">
                                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                                    Please enter your email and password.
                                </p>
                                <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                                    Please enter a valid email.
                                </p>

                                <p class="help-block">{{ vm.errors.other }}</p>
                            </div>

                            <div>
                                <button class="btn btn-default btn-lg btn-save" type="submit">Save</button>
                                <a class="btn btn-default btn-lg btn-cancel" ui-sref="signup">Cancel</a>
                            </div>

                            <!--<hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>-->
                        </form>
                    </div>
                    <div class='col-md-2'>
                        {{newCategory}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{message}}
<footer></footer>