<navbar></navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11" style='background-color:transparent'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
					</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">

                       <form class="form" name="form" ng-submit="saveProduct(form)" novalidate>
                            <div class="form-group">
                                <label for='name'>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="pctrl.product.name" required>
                            </div>
                            <div class="form-group">
                                <label for='name'>Categories</label>
                                <div data-ng-repeat="cat in vm.categories" ng-model="pctrl.product.categories">
                                    <input type="checkbox" name="chkCategory" class="form-control" >{{cat.name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='name'>Debug</label>
                                <label>{{pctrl.product |json}} {{1 + 1}}</label>
                                <!--<div data-ng-repeat="cat in vm.categories">
                                    <input type="checkbox" name="chkCategory" class="form-control" ng-model="category.name"> {{cat.name}}
                                </div>-->
                            </div>
                        </form>
                        
                        <!--<label for="CategoryIds">Categories (ctrl+click to select more than one)</label>
                        <%= Html.MutipleSelectComboFor<ProductViewData, Category>("CategoryIds", Model.CategoryIds, category => category.Id != 1)%>
                            <%= this.TextBox(x => x.Weight).Label("Weight") %>
                                <%= this.TextBox(x => x.Price).Label("Price " + Money.Symbol) %>
                                    <%= this.CheckBox(x => x.IsActive).Label("Active") %>

                                        <%= this.TextArea(x => x.Description).Label("Description") %>

                                            <h3>Sizes</h3>

                                            <p>
                                                <% foreach(var size in ViewData.Model.Sizes) { %>
                                                    <%= size %>&nbsp;
                                                        <% } %>

                                                            <%= Html.ActionLink<ProductController>(c => c.ClearSizes(ViewData.Model.ProductId), "Clear all sizes")%>
                                            </p>
                                            <div class="sizeInput">
                                                <% for(int i=0; i<10; i++) { %>
                                                    <%= Html.TextBox("Sizes[" + i + "]")%>
                                                        <% } %>
                                            </div>

                                            <h3>Photos</h3>

                                            <div class="imageList">
                                                <% foreach(var productImage in ViewData.Model.ProductImages.InOrder()) { %>
                                                    <div class="imageEdit">
                                                        <%= Html.Image("~/ProductPhotos/" + productImage.Image.ThumbFileName) %>
                                                            <br />
                                                            <%= Html.UpArrowLink<ProductImageController>(c => c.MoveImageUp(ViewData.Model.ProductId, productImage.Position)) %>
                                                                <%= Html.DownArrowLink<ProductImageController>(c => c.MoveImageDown(ViewData.Model.ProductId, productImage.Position)) %> &nbsp;&nbsp;
                                                                    <%= Html.CrossLink<ProductImageController>(c => c.DeleteImage(ViewData.Model.ProductId, productImage.Id)) %>
                                                    </div>
                                                    <% } %>
                                            </div>

                                            <div class="clear" />

                                            <% for (int i = 0; i < 5; i++) { %>
                                                <input type="file" id="image_<%= i.ToString() %>" name="image_<%= i.ToString() %>" />
                                                <% } %>

                                                    <input type="submit" value="Save Changes" />
                                                    <% } %>

                                                        <% Html.InitialiseRichTextEditor(); %>-->
                    </div>
                    <div class='col-md-2'>
                        {{newCategory}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{vm.category | json}}
<footer></footer>